@import url(https://fonts.googleapis.com/css?family=Muli:400,400i|Roboto+Condensed:400,600,700);

body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #222;
    font-family: Muli, sans-serif
}

@media only screen and (max-width: 600px){
    .a-img-club-klasemen{
        float: none !important;
    }
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    height: 100px;
    width: 100px;
    height: 100px;
  }
  
  .button1, .button2, .button3, .button4, .button5 {
      border-radius: 50%;
    }
  
.a-latest-match .a-score li, .a-latest-result .a-score li {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 6px;
}

.a-latest-match .a-club-title li, .a-latest-result .a-club-title li {
    display: inline-block;
    font-weight: 700;
}

.a-latest-match .a-score li img, .a-latest-result .a-score li img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.a-latest-match .a-date, .a-latest-match .a-stadium, .a-latest-result .a-date, .a-latest-result .a-stadium {
    padding: 0;
    margin: 0;
}

